name: CI

on:
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: read

jobs:
  checks:
    name: ${{ matrix.check }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        check: [formatting, test]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.head_ref }}

      - name: Install Devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: true

      - name: Setup Neovim
        if: ${{ matrix.check == 'test' }}
        uses: y3owk1n/nvs@main
        with:
          version: stable

      - name: Run just fmt-check
        if: ${{ matrix.check == 'formatting' }}
        run: devbox run -- just fmt-check

      - name: Run just test
        if: ${{ matrix.check == 'test' }}
        run: devbox run -- just test
