name: CI

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  doc:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PAT }}

      - name: Install Devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: true

      - name: Create /doc
        run: mkdir -p doc

      - name: Generate docs
        run: devbox run -- just doc

      - name: Push changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: |
            chore(build): auto-generate docs from readme

            This is an automated commit.
